@model IsraelBlock.Models.Home

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="panel">
            <div class="panel-heading">
                <h2>Bem vindos ao projeto de Programação visual com C# e Asp.Net MVC5</h2>
            </div>
            <div class="panel-body">
                <h2>Olá</h2>
                <p>Esta é a página inicial do projeto da matéria de Programação visual, aplicada pelo professor Matheus Costa Vieira.</p>
                <p>O objetivo desta matéria é desenvolver aplicações web utilizando a linguagem C#, através do framework Asp.Net MVC5.</p>
                <p>Este projeto conta com um sistema de cadastro, no qual podemos aplicar os conceitos da linguagem no nosso aprendizado.</p>
                <br />
            </div>
            <div class="panel-info">
                <p>Você pode usar o menu, localizado no topo da página, para navegar entre as funções do nosso sistema.</p>
            </div>
        </div>
    </div>
